@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow: hidden;
}
main {
  overflow-y: auto;
  height: calc(100vh - 4rem);
}
header {
  max-width: 100% !important;
}
.dark nav {
  border-color: #cbd5e11a;
}

.dark body {
  background-color: rgb(15 23 42/1);
}
